* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav,
#main {
    display: inline-block;
    height: 100%;
}
#nav {
    float: left;
    width: 25%;
    border: 2px solid blue;
}
#main {
    width: 70%;
    float: right;
    border: 2px solid red;
}
